<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<footer class="footer">
  <p class="menu">
    <a href="/"> Home</a> |
    <a href="/askas/about"> About</a> |
    <a href="mailto:byuiaudio@gmail.com">Email</a>
  </p>
  <p style="color: rgb(185, 185, 185);">Phone: 208 496 1411</p>
  <p style="color: rgb(185, 185, 185); font-weight: lighter; font-size: .8rem;"> ASKAS &copy; 2020 | Developed by Kwaku Appau-Nkansah</p>
    <!-- <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span> About the website</span> This website was created to help track student work hours in the AV Audio team
      </p>
    </div> -->
    <!-- <div class="footer-center col-md-4 col-sm-6">
      <div>
        <p>Helpline: (+1) 208 496 1411</p>
        <br> <a href="mailto:byuiaudio@gmail.com">Email</a>
      </div>
      <div> -->
        <!-- <i class="fa fa-phone"></i> -->
      <!-- </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <p class="menu">
        <a href="/"> Home</a> |
        <a href="/askas/about"> About</a> -->
        <!-- <a href="/askas/about"> About</a> |
        <a href="/askas/contact">Contact</a> -->
      <!-- </p>
      <p class="name"> ASKAS &copy; 2020</p>
    </div> -->
  </footer>
</body>
</html>