.dashboard-image {
  /* Linear-gradient to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/1ai.jpg');
  /* Set a specific height */
  max-height: 400px;
  min-height: 250px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.admin-dash-image {
  /* Linear-gradient to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/1ai.jpg');
  /* Set a specific height */
  max-height: 25vh;
  min-height: 20vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 18% auto 18%;
}

.admin-dash-image-div1 {
  font-size: 6rem;
  font-weight: bolder;
  color: rgb(230, 158, 23);
  text-align: center;
}

.studentWeekHour {
  padding-top: 6rem;
  color: white;
  text-align: center;
}

.all-student-hours {
  padding-top: 6rem;
  padding-left: 1rem;
  color: white;
  display: flex;
}

.all-student-hours h6 {
  padding-left: 1rem;
}

.dashboard-image h1 {
  /*text-align: center;*/
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8vw;
  font-weight: bolder;
  color: rgb(230, 158, 23);
}

.dashboard-image h3 {
  margin: 0;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  color: orange;
}

.user-hours {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.user-hours h2, h5 {
  color: white;
}

.checked {
  color: orange;
}

/* Place text in the middle of the image
  .dashboard-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }*/

.grid-container {
  display: grid;
  grid-template-columns: 25% auto auto;
  background-color: #E9E9E9;
  padding: 10px;
  max-height: 117vh;
  min-height: 60vh;
}

.students-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #E9E9E9;
  padding: 10px;
  min-height: 90vh;
  max-height: 120vh;
}

.admin-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(172, 242, 252, 0.8);
  padding: 20px;
  border-radius: 10px;
  /* font-size: 30px;
    text-align: center; */
}

.admin-grid-item h3 {
  font-size: 30px;
  text-align: center;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(172, 242, 252, 0.8);
  padding: 20px;
  border-radius: 10px;
  /* font-size: 30px;
    text-align: center; */
}

.grid-item h3 {
  font-size: 30px;
  text-align: center;
}

.dash-m {
  margin-top: -20px;
}

.mid-col {
  background-color: rgba(255, 166, 0, 0.568);
}

.dashboard-image {
  width: 100%;
}

/* .bucket-item-list {
  border: solid 2px #2EA8B8;
  height: auto;
  margin-bottom: 10px;
  border-radius: 7px;
} */

/* .bucket-item-list:hover {
  background-color: #b4eaf3;
} */

.col-sm {
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 15px;
  border: solid 2px #949494;
  max-height: 500px;
}

.col-head {
  background-color: #eeeeee;
  /*background-color: orange;*/
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}

.next-con-left {
  overflow: scroll;
  max-height: 95vh;
}

.next-con-mid {
  overflow: scroll;
  max-height: 95vh;
}

.next-con-right {
  overflow: scroll;
  max-height: 95vh;
}

.student-next-con-left {
  overflow: scroll;
  max-height: 80vh;
  min-height: 50vh;
}

.student-next-con-mid {
  overflow: scroll;
  max-height: 80vh;
  min-height: 50vh;
}

.student-next-con-right {
  overflow: scroll;
  max-height: 90vh;
  min-height: 60vh;
}

.edit-time-con {
  background-color: #e8e9e87c;
  border-radius: 10px;
  padding-bottom: 10px;
}

.action-btn {
  display: flex;
}

.action-btn>form>button {
  color: #128fa5;
}

@media only screen and (max-width: 510px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow: scroll;
  }
  .grid-item {
    width: 100%;
  }
}

/* .sss {
  color: #128fa5;
} */

.toDo {
  margin-bottom: 8px;
}

.student-list {
  list-style: none;
  font-size: 1.3em;
}

.student-list a:hover {
  text-decoration: none;
  color: orange;
}

.hour-list-time {
  list-style: none;
  font-weight: bold;
}

.hour-list {
  list-style: none;
}

.hour-list-div {
  background-color: #97eaf79a;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.hour-list-div:hover {
  cursor: pointer;
}

.week-list-div {
  background-color: #7ce5f550;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
}

/* .view-user-details {
  float: right;
  display: inline;
  position: relative;
} */

/* .user-detail-button {
  margin-right: 10px;
} */

.user-time-info {
  display: grid;
  grid-template-columns: auto auto;
}

.the-button {
  display: grid;
  grid-template-columns: auto auto auto;
}

.time-details {
  margin-top: 100px;
}

.fa-history, .fa-clipboard, .fa-comment, .fa-user-circle, .fa-user-cog, .fa-user-tie {
  opacity: .5;
}

.admin-user-details {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
  border-radius: 5px;
}

.admin-user-details span {
  padding-left: 1.3rem;
}

.admin-user-details-sub {
  font-size: .7em;
  margin-top: -.3rem;
  opacity: .7;
  /* padding-left: 1rem; */
}

.hori-line {
  width: 50%;
  margin-top: -.03rem;
  margin-left: 1.3rem;
}

.desc-com {
  margin-top: -.8rem;
  padding-left: 1.3rem;
}

.past-week-details {
  background-color: rgba(172, 241, 252, 0.24);
}

.hide {
  visibility: hidden;
}

.min-admin {
  padding-left: 30px;
}

/******************************
* Digital clock styling 
*******************************/

#clock {
  color: yellowgreen;
  font-size: 1.7em;
  text-align: center;
  background-color: black;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
}

.submit-time {
  margin: auto;
}

/**************************************
* Modal Styling
****************************************/

/* Add a dark gray background color to the modal header and center text */

.modal-header, h4, .close {
  background-color: rgb(38, 196, 224);
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header, .modal-body {
  padding: 15px 25px;
}

/**************************************
* User details page
****************************************/

/* .user-det {
  min-height: 450px;
  overflow: scroll;
  max-height: 470px;
} */

/**************************************
* Submit Remiber style
****************************************/

#submit-reminder {
  background-color: red;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: white;
  visibility: hidden;
  transition: backgroundColor 0.05s ease-in-out;
}

/**************************************
* Submit Year Remiber style
****************************************/

#submit-year-reminder {
  background-color: rgb(168, 168, 168);
  border-radius: 5px;
  padding: 5px;
  color: white;
  visibility: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  transition: backgroundColor 0.05s ease-in-out;
}

#submit-year-reminder:hover {
  cursor: zoom-out;
}

.sub-button {
  position: relative;
  margin-right: 0px;
}

/**************************************
* Archived User style
****************************************/
.archived-user {
  display: none;
}