.index-page {
  background-image: url('/images/1a.jpg');
  background-attachment: fixed;
  /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  width: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 80px;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #e49b15;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
}

.jumbotron p {
  /* color: #d9ccee; */
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar+.jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}

.product-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pro-logs {
  width: 115px;
  margin: 15px;
}

.pro-logs img:hover {
  width: 120px;
}


.pro-logs img {
  width: 110px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(233, 233, 233);
}

.bttn {
  font: inherit;
  border: 1px solid #a57e12;
  border-radius: 3px;
  cursor: pointer;
  background-color: #eeae25;
  color: #c8dde0;
}

.bttn:hover, .bttn:active {
  background-color: #925f00;
  color: white;
}

.not-found {
  text-align: center;
  color: #1165BD;
  font-size: 9rem;
}

/* .profile-image {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.image-cropper {
  width: 160px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.about-author {
  display: flex;
  flex-wrap: wrap;
}

.author-text {
  width: 80%;
  margin-left: 20px;
} */

.main-header-user {
  color: white;
}

#soundtag {
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
}

#front-quote {
  text-align: center;
  font-size: 1.3em;
}

#quote-author {
  margin-top: -30px;
  text-align: right;
  font-size: 1em;
}

.card {
  background-color: rgba(144, 238, 144, 0.349);
  outline: none;
  border-radius: 10px;
  color: white;
}

/******************************
 Admin activities classes
 ******************************/
 .card-control {
   width: 90%;
   background-color: #a9e4eebb;
   border-radius: 10px;
   margin: auto;
   margin-bottom: 10px;
 }
.card-actions {
  display: flex;
  flex-wrap: wrap;
}

.card-actions a:hover {
  color: rgb(110, 110, 110);
}

.card-actions form>button:hover {
  color: rgb(110, 110, 110);
}

.card_header {
  background-color: #86deeebb;
  border-radius: 10px;
}

/**************************************
* Admin activities Styling
****************************************/
.bod {
  background-image: url('/images/loginii.jpg');
}

/**************************************
* User activities Styling
****************************************/
.actBack {
  background-image: url('/images/1aii.jpg');
  background-attachment: fixed;
  /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  width: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 360px;
}

.activity-title {
  font-weight: bold;
}

.add-to-bucket {
  color: #1165BD;
}

.actDesc {
  color: #2d2d30;
}

/**************************************
* User Archives Styling
****************************************/
.archive-pic {
  max-height: 350px;
  min-height: 300px;
  background-image: url('/images/arch.jpg');
  background-size: cover;
  position: relative;
}

.archive-pic h3 {
  color: white;
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**************************************
* Motivation Styling
****************************************/
.mo-top {
  background-image: url('/images/you-got-this-lighted-signage.jpg');
  max-height: 400px;
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.moCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.moCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.moCardTxt {
  padding: 2px 16px;
}

/* .moCard img {
  border-radius: 5px 5px 0 0;
  width: 250px;
  height: 250px;
} */

/*
* Styling for chat
*/
/* .chatt {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#message-container {
  width: 80%;
  max-width: 1200px;
}

#message-container div {
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}

#send-container {
  position: relative;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 1200px;
  width: 80%;
  display: flex;
}

#message-input {
  flex-grow: 1;
} */

/**************************************
* About Us Styling
****************************************/
.about-us {
  background-image: url('/images/fam.jpg');
  background-attachment: fixed;
  /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  width: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 80px;
}

#we-are-family {
  font-size: 10vw;
  font-weight: bold;
  text-align: right;
  color: rgb(9, 175, 180);
}

.about-place {
  background-color: #2d2d305e;
  padding: 5px;
  max-width: 85%;
  margin: auto;
  border-radius: 10px;
}

/**************************************
* Contacts Styling
****************************************/
.contacts {
  background-image: url('/images/con.jpg');
  background-attachment: fixed;
  /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  width: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 80px;
}

#contacts {
  font-size: 10vw;
  font-weight: bold;
  text-align: right;
  color: rgb(9, 175, 180);
}