<!DOCTYPE html>
<html>

<head>
    <%- include('../../includes/header.ejs') %>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <div class="jumbotron text-center about-us">
        <div class="container">
            <br>
            <h1 id="we-are-family">WE ARE FAMILY!!</h1>
            <div class="about-place">
                <p>This is the Audio team on the AV Productions floor. We are in charge of anything
                    audio on campus. Our work ranges from being on the field recording audio during
                    video shoots to staying in the studio to record and broadcast live events. In 
                    between we do things like recording audio in the production room on the floor, 
                    post production stuff that includes editing already recorded audio to make it
                    sound better. We are also involved with recording voice overs for video clips
                    and adding sound effects to videos for promos, informing, etc. So we have a 
                    pretty cool job. Except we spend an ample amount of time troubleshooting to know
                    why some things are not working as they should. This team is currently headed by
                    the great Adam Olson.

                    This is our family. Welcome!!
                </p>
            </div>
        </div>
    </div>
    <%- include('../../includes/end.ejs') %>