<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="jumbotron text-center contacts">
    <div class="container">
      <br>
      <h1 id="contacts">CONTACT</h1>
      <div class="contact-page">
				<a target="_blank" href="https://www.google.com/maps/place/525+S+Center+St,+Rexburg,+ID+83460/">
					525 South Center St. Rexburg, ID, 83460
				</a><br>
				<a target="_blank" href="sms:12084961411">
					TEXT: (208) 496-1411
				</a><br>
				<a target="_blank" href="tel:12084961411">
					CALL: (208) 496-1411
				</a><br>
				<a target="_blank" href="mailto:ask@byui.edu">
					ask@byui.edu
				</a><br>
				<a target="_blank" href="https://www.byui.edu/feedback/">
					Feedback
				</a>
			</div>
    </div>
  </div>
  <%- include('../../includes/end.ejs') %>